services:

  devdays-proxy:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - backend

  devdays-frontend:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html
    networks:
      - backend

  devdays-mongo:
    image: mongo:6.0
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - db

  devdays-app:
    image: devdays-app:latest
    restart: unless-stopped
    environment:
      PORT: 3000
      MONGO_URI: mongodb://devdays-mongo:27017/isadevdays2025
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OTEL_PROM_PORT: 9464
    ports:
      - "${HOST_PORT:-3000}:3000"
      - "9464:9464"
    depends_on:
      - devdays-mongo
    networks:
      - backend
      - db

  prometheus:
    image: prom/prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    depends_on:
      - devdays-app
    networks:
      - backend

  grafana:
    image: grafana/grafana
    restart: unless-stopped
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - backend

volumes:
  mongo_data:
  prometheus_data:
  grafana_data:

networks:
  backend:
  db:
